<ion-content class="ion-padding">

  <ion-card class="post-card">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="avatar || '/assets/default.jpeg'" alt="avatar" />
      </ion-avatar>

      <ion-label>
        <h2>{{ username }}</h2>

        <ion-chip color="medium">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"
            color="#ffffff" fill="none" stroke="#ffffff" stroke-width="1.5">
            <path
              d="M13.6177 21.367C13.1841 21.773 12.6044 22 12.0011 22C11.3978 22 10.8182 21.773 10.3845 21.367C6.41302 17.626 1.09076 13.4469 3.68627 7.37966C5.08963 4.09916 8.45834 2 12.0011 2C15.5439 2 18.9126 4.09916 20.316 7.37966C22.9082 13.4393 17.599 17.6389 13.6177 21.367Z" />
          </svg>

            <ion-label>{{ location }}</ion-label>
        </ion-chip>

      </ion-label>
    </ion-item>

    <ion-card-content>
    <ion-textarea
        placeholder="Titulo del post..."
        [(ngModel)]="title">
      </ion-textarea>
      <ion-textarea
        placeholder="Escribe la descripción del post..."
        [(ngModel)]="content">
      </ion-textarea>

      <div class="hashtags">
        <ion-chip  *ngFor="let tag of hashtagsSelected">
          <ion-label>#{{ tag.name }}</ion-label>
            <svg (click)="removeTag(tag)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="15" height="28" color="#979797" fill="none" stroke="#979797" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6L6.00081 17.9992M17.9992 18L6 6.00085" />
            </svg>
        </ion-chip>
      </div>
    <ion-item>
      <ion-input 
        placeholder="#agregarHashtag"
        [(ngModel)]="newTag"
        (ionInput)="onTagInputChange()"
        >
      </ion-input>    
    </ion-item>

<div *ngIf="showSuggestions" class="suggestions">
  <ion-list>
    <ion-item 
      button 
      *ngFor="let tag of filteredHashtags"
      (click)="selectSuggestedTag(tag)">
      <ion-label>#{{ tag.name }}</ion-label>
    </ion-item>
  </ion-list>
</div>


    </ion-card-content>
    <img 
      [src]="img" 
      class="single-img rounded-img" />

<ion-button 
  expand="block" 
  (click)="publishPost()"
  [disabled]="!content || content.trim().length < 1 || !title || title.trim().length < 1">
  Publicar
</ion-button>
    <ion-button expand="block" (click)="takePhoto()">
        Cambiar Foto
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="50" height="20" color="#ffffff" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
    <path d="M16.9767 19.5C19.4017 17.8876 21 15.1305 21 12C21 7.02944 16.9706 3 12 3C11.3126 3 10.6432 3.07706 10 3.22302M16.9767 19.5V16M16.9767 19.5H20.5M7 4.51555C4.58803 6.13007 3 8.87958 3 12C3 16.9706 7.02944 21 12 21C12.6874 21 13.3568 20.9229 14 20.777M7 4.51555V8M7 4.51555H3.5" />
</svg>
    </ion-button>
    
  </ion-card>

</ion-content>
