<ion-content fullscreen>

  <div class="profile-header">
    <ion-avatar class="avatar-large">
      <img [src]="user?.user?.avatar_url" />
    </ion-avatar>

    <h2 class="name">{{ user?.user?.name }}</h2>
    <p class="preferred-name">@{{ user?.user?.preferred_name }}</p>

    <p class="bio" *ngIf="user?.user?.bio">{{ user?.user?.bio }}</p>

  </div>

  <ion-item lines="full" class="divider"></ion-item>

  <div class="section-title">
    <h3>Mis publicaciones</h3>
  </div>

  <ion-list class="post-list">
    <ion-item *ngFor="let post of posts" lines="none">
      <app-post-card
        [avatar]="post.post_by.avatar_url"
        [username]="post.post_by.name"
        location="mexico"
        [title]="post.title"
        [content]="post.description"
        [image]="post.photos[0]"
        [hashtags]="post.hashtags"
        [likes]="post.likes.length"
        [favorites]="post.saves.length"
        [comments]="post.comments.length"
        [liked]="post.already_liked"
        [favorite]="post.already_saved"
        (likeEvent)="likePost(post.id, post)"
        (favoriteEvent)="savePost(post.id, post)"
      >
      </app-post-card>
    </ion-item>

  </ion-list>

</ion-content>
