<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
<div class="profile-header">
  <ion-avatar class="avatar-large">
    <img [src]="user?.user?.avatar_url || '/assets/default.jpeg'" />
  </ion-avatar>

  <h2 class="name">
    {{ user?.user?.name }}
    </h2>
  <p class="preferred-name">@{{ user?.user?.preferred_name }}</p>
  <ion-button *ngIf="!showFollowButton" id="present-alert">Cerrar sesión</ion-button>
    <ion-alert
      trigger="present-alert"
      header="Alerta!"
      message="¿Estás seguro de que deseas cerrar sesión?"
      [buttons]="alertButtons"
    ></ion-alert>
  <ion-button
  (click)="toggleFollowUser()"
  [disabled]="alreadyFollowing"
  *ngIf="showFollowButton" type="submit">
    {{ alreadyFollowing ? 'Siguiendo' : 'Seguir' }}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="20" color="#ffffff" fill="none" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 4V20M20 12H4" />
    </svg>
  </ion-button>
      
  <p class="bio" *ngIf="user?.user?.bio">{{ user?.user?.bio }}</p>

  <ion-grid>
    <ion-row>
      <ion-col class="text-center">
        <h3>{{ user?.user?.followers?.length || 0 }}</h3>
        <p>Seguidores</p>
      </ion-col>
      <ion-col class="text-center">
        <h3>{{ user?.user?.following?.length || 0 }}</h3>
        <p>Seguidos</p>
      </ion-col>
      <ion-col class="text-center">
        <h3>{{ posts.length || 0 }}</h3>
        <p>Publicaciones</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


  <ion-item lines="full" class="divider"></ion-item>

  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="posts">
      Mis publicaciones
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favoritos
    </ion-segment-button>
    <ion-segment-button value="likes">
      Likes
    </ion-segment-button>
  </ion-segment>
  <ion-list class="post-list">
    <ion-item *ngFor="let post of getFilteredPosts()" lines="none">
      <app-post-card
        [avatar]="post.post_by.avatar_url"
        [username]="post.post_by.name"
        location="mexico"
        [title]="post.title"
        [content]="post.description"
        [image]="post.photos[0]"
        [hashtags]="post.hashtags"
        [likes]="post.likes.length"
        [favorites]="post.saves.length"
        [comments]="post.comments.length"
        [liked]="post.already_liked"
        [favorite]="post.already_saved"
        (likeEvent)="likePost(post.id, post)"
        (favoriteEvent)="savePost(post.id, post)"
        [commentsData]="post.comments"
        [postId]="post.id"
      >
      </app-post-card>
    </ion-item>
  </ion-list>

</ion-content>
