<ion-content fullscreen>

<div class="profile-header">
  <ion-avatar class="avatar-large">
    <img [src]="user?.user?.avatar_url" />
  </ion-avatar>

  <h2 class="name">{{ user?.user?.name }}</h2>
  <p class="preferred-name">@{{ user?.user?.preferred_name }}</p>

  <p class="bio" *ngIf="user?.user?.bio">{{ user?.user?.bio }}</p>

  <ion-grid>
    <ion-row>
      <ion-col class="text-center">
        <h3>{{ user?.user?.followerd?.length || 0 }}</h3>
        <p>Seguidores</p>
      </ion-col>
      <ion-col class="text-center">
        <h3>{{ user?.user?.following?.length || 0 }}</h3>
        <p>Seguidos</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


  <ion-item lines="full" class="divider"></ion-item>

  <ion-segment [(ngModel)]="selectedTab">
    <ion-segment-button value="posts">
      Mis publicaciones
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favoritos
    </ion-segment-button>
    <ion-segment-button value="likes">
      Likes
    </ion-segment-button>
  </ion-segment>
  <ion-list class="post-list">
    <ion-item *ngFor="let post of getFilteredPosts()" lines="none">
      <app-post-card
        [avatar]="post.post_by.avatar_url"
        [username]="post.post_by.name"
        location="mexico"
        [title]="post.title"
        [content]="post.description"
        [image]="post.photos[0]"
        [hashtags]="post.hashtags"
        [likes]="post.likes.length"
        [favorites]="post.saves.length"
        [comments]="post.comments.length"
        [liked]="post.already_liked"
        [favorite]="post.already_saved"
        (likeEvent)="likePost(post.id, post)"
        (favoriteEvent)="savePost(post.id, post)"
        [commentsData]="post.comments"
        [postId]="post.id"
      >
      </app-post-card>
    </ion-item>
  </ion-list>

</ion-content>
