ion-menu::part(backdrop) {
  background-color: black;
}

ion-toolbar{
--min-height	: 56px;
}
ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}

ion-button {
  padding-top: 10px;
  width: 100%;
  max-width: 350px;
  --background: #39393a;
  --color: #ffffff;
  --border-radius: 8px;
}

ion-img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 5px;
}
