.camera-screen {
  position: relative;
  width: 100%;
  height: 100%;
  background: black;
}

.camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-bar,
.bottom-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  z-index: 10;
}

.top-bar {
  top: 0;
}

.bottom-bar {
  bottom: 15px;
  align-items: center;
}

.icon-btn {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capture-btn {
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.capture-inner {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #e4e4e4;
}
