<ion-content>
  <ion-list>
    <ion-item *ngFor="let post of posts" lines="none">
      <app-post-card
        [avatar]="post.post_by.avatar_url"
        [username]="post.post_by.name"
        location="mexico"
        [title]="post.title"
        [content]="post.description"
        [image]="post.photos[0]"
        [hashtags]="post.hashtags"
        [likes]="post.likes.length"
        [favorites]="post.saves.length"
        [comments]="post.comments.length"
        [liked]="post.already_liked"
        [favorite]="post.already_saved"
        (likeEvent)="likePost(post.id, post)"
        (favoriteEvent)="savePost(post.id, post)"
        [postId]="post.id"
        [commentsData]="post.comments"
      >
      </app-post-card>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>